<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/common/swiper.min.css">
    <link rel="stylesheet" href="/css/common/animate.min.css">
    <link rel="stylesheet" href="/css/welcome.css">
    <script src="/js/common/jquery.min.js"></script>
    <script src="/js/common/swiper.jquery.min.js"></script>
    <script src="/js/common/swiper.animate1.0.2.min.js"></script>
    <script src="/js/layout/welcome.js"></script>

</head>
<body>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="circle ani" swiper-animate-effect="rotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">Work</div>
            <div class="words">
                <!--<div class="word1 ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">口号</div>-->
                <!--<div class="word2 ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">专注 极致 口碑</div>-->
                <!--<div class="word3 ani" swiper-animate-effect="slideInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">想把你写成一首歌</div>-->
                <div class="word4 ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">简单你的生活</div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="circle ani" swiper-animate-effect="rotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">Work</div>
            <div class="words">
                <!--<div class="word1 ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">信念</div>-->
                <!--<div class="word2 ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">勤奋 卓越 超群</div>-->
                <!--<div class="word3 ani" swiper-animate-effect="slideInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">想拥着阳光</div>-->
                <div class="word4 ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">丰富你的乐趣</div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="circle ani" swiper-animate-effect="rotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">Work</div>
            <div class="words">
                <!--<div class="word1 ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">未来</div>-->
                <!--<div class="word2 ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">专注 极致 口碑</div>-->
                <!--<div class="word3 ani" swiper-animate-effect="slideInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">想把你写成一首歌</div>-->
                <div class="word4 ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">体验即将开启</div>
            </div>
            <div class="clickBtn">
                <a href="/">进入首页</a></div>
        </div>
    </div>



    <div class="swiper-pagination"></div>
</div>
</body>
</html>